<div class="container">
  <% if (errors) {%>
  <% errors.forEach(function (error) { %>
  <span style="color: red"> <%= __(error) %> </span>
  <% }) %>
  <% } %>
  </br></br>
  <form class="form-horizontal" action="/auth/local/register" method="POST">
    <form class="form-horizontal" action="/auth/local" method="POST">
      <div class="form-group">
        <label for="exampleInputEmail1">UserName</label>
        <input type="text" class="form-control" id="username" name="username"  placeholder="UserName">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary">Sign up</button>
    </form>
  </form>
  <br><a href="/login" class="text-center new-account">Log in </a>
</div>
