
<div class="container" id="page-content">

    <div class="col-md-12">
      <h4>New Import</h4>
    </div>
    <form action="/exports/create" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label for="name">Format of the file </label>
        <div class="form-control">
        <label class="radio-inline"><input type="radio" name="format">XML</label>
        <label class="radio-inline"><input type="radio" name="format">CSV</label>
        <label class="radio-inline"><input type="radio" name="format">EXCEL(XLSX)</label>
        </div>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Export file from selected lists </label>
        <select class="form-control" id="lists[]" name="lists[]" multiple="multiple" >
          <% _.each(lists, function (list) { %>
          <option value="<%= list.id %>"><%= list.name %></option>
          <% }) %>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Download</button>
    </form>
</div>



