
<div class="container" id="page-content">

    <div class="col-md-12">
      <h4>New Import</h4>
    </div>
    <form action="/imports/new" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label for="name">File containing subscriber to import </label>
        <input class="form-control" name="FileUpload" id="FileUpload" type="file" accept=".xml,.csv,.xlsx">
        <small id="emailHelp" class="form-text text-muted">Type allowed : .xml | .csv | excel (xlsx)</small>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Import into selected lists </label>
        <select class="form-control" id="lists[]" name="lists[]" multiple="multiple" >
          <% _.each(lists, function (list) { %>
          <option value="<%= list.id %>"><%= list.name %></option>
          <% }) %>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Next</button>
    </form>
</div>



