
<div class="container" id="page-content">

    <div class="col-md-12">
      <h4>New List</h4>
    </div>

    <form action="/list/create" method="POST">
      <div class="form-group">
        <label for="name">Name </label>
        <input type="text" class="form-control" id="name"  name="name" placeholder="Enter name">
        <small id="emailHelp" class="form-text text-muted">Name of the list</small>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>



